.concerts-img {
    margin-top: 44px;
    margin-bottom: 44px;


}

.concerts-img img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.concerts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concerts-text {
    margin-bottom: 44px;
    width: 810px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: #000;
}

.concerts-btns {
    width: 836px;
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.concerts-btn {
    border-radius: 11px;
    width: 362px;
    height: 64px;
    background: #2c315e;

    font-weight: 400;
    font-size: 24px;
    text-align: center;
    
    color: #fff;
}

.concerts-btn:hover {

    background: linear-gradient(90deg, rgba(47, 52, 102, 1) 0%, rgba(165, 46, 86, 1) 100%);
    /* background-color: white; */
    color: #FFF;
}


@media (max-width: 900px) {
    .concerts-btns {
        width: 660px;
    }

    .concerts-text {
        width: 660px;
    }
}

@media (max-width: 720px) {
    .concerts-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .concerts-text {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .section-title{
        font-size: 47px !important;
    }
    .concerts-text {
        width: 350px;
    }

    .concerts-btn {
        width: 300px;
    }
}