.vinyl-records {
    min-height: 100vh;


    background: rgb(47, 52, 102);
    background: linear-gradient(90deg, rgba(47, 52, 102, 1) 0%, rgba(165, 46, 86, 1) 100%);
}

.white {
    color: white;
    margin-bottom: 74px;
}

.vinyl-carousel {
    width: 737px;

}


@media (max-width: 1000px) {
    .vinyl-carousel {
        width: 368px;
    }

}

@media (max-width: 860px) {


    .description-text {
        width: 600px !important;
    }
}

@media (max-width: 650px) {

    .description-btns {
        width: 500px !important;
    }
}

@media (max-width: 600px) {

    .description-btns {
        width: 400px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .description-text {
        width: 400px !important;
    }
}

@media (max-width: 440px) {
    .vinyl-carousel{
        width: 300px;
    }
    /* .vinyl-img img{
        width: 300px;
    }  */

    .description-text {
        width: 300px !important;
    }

    .section-title{
        font-size: 55px;
    }

    .description-btns {
        width: 300px !important;
    }
} 

.vinyl-description {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;

}

.description-text {
    font-family: "Abel", sans-serif;
    width: 850px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.description-btns {
    width: 607px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.description-btn {
    font-family: "Abel", sans-serif;
    background: #cf99a6;
    border-radius: 11px;
    width: 232px;
    height: 64px;

    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
    transition: background-color 0.3s ease;
}

.description-btn:hover {
    background-color: white;
}