.menu-carousel {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 880px !important;
    padding-top: 79px;
}

.menu-carousel-wide {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 880px !important;
    padding-top: 79px;
}

.menu-item {
    height: 651px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-item-wide {
    height: 651px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-title {
    height: 64px;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000;

}

.item-price {
    font-family: "Chango", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #000;
}

.carousel-btn {
    z-index: 999;
    width: 126px;
    height: 124px;
    border-radius: 50%;

    background: none;
}

.item-img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    height: 420px;
}

.item-img img{
    height: 386px;
}

.item-img-food {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    height: 420px;
}

.owl-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.added {
    background: #4d4d4d !important;
}


.shopping-cart-item {
    position: relative;
    background: white;
    z-index: 5;
    height: 120px;
    width: 60%;
    margin-left: 30px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    border-radius: 15px;

    -webkit-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    -moz-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
}

.shopping-cart-item button {
    background: none;
}

.card-item-text {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.cart-item-img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.cart-item-img img {
    height: 100px;

}

.cart-item-name {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
}

.cart-item-price {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
}


.shopping-cart li {
    margin-bottom: 20px;
}

.shopping-cart {
    margin-top: 60px;
    padding-bottom: 60px;
}

.title-thin {
    padding-top: 120px !important;
}

.shopping-cart-cost {
    position: fixed;
    left: 65%;
    top: 250px;
    max-height: 60%;
    max-width: 30%;
    padding: 30px 30px;
    background: #fff;
    border-radius: 15px;

    z-index: 0;

    -webkit-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    -moz-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
}

.cost-title {
    font-weight: 600;
    font-size: 50px;
    color: #2c315e;
    margin-bottom: 10px;
}

.cost-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.buy-button {

    /* display: block; */
    z-index: 500;
    border-radius: 11px;
    padding: 9px 36px;
    height: 100px;
    max-width: 300px;
    background: #2c315e;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #fff;

}

.back-button {
    background: white;
    position: fixed;
    left: 90%;
    top: 70%;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    -moz-box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);
    box-shadow: 7px 6px 50px -14px rgba(44, 49, 94, 0.9);

}

.back-button img {
    width: 50px;
}

@media (max-width: 1230px) {
    .menu-carousel {
        width: 590px !important;
    }

    .menu-carousel-wide {
        width: 420px !important;
    }
}

@media (max-width: 1000px) {
    .menu-carousel {
        width: 300px !important;
    }



    .item-title {
        font-size: 28px;
    }
}

@media (max-width: 670px) {
    .carousel-btn img {
        width: 35px;
        height: 35px;
    }

    .carousel-btn {
        z-index: 1000;
        width: 35px;
        height: 35px;
        border-radius: 50%;

        background: none;
    }
}

@media (max-width: 520px) {
    .menu-carousel-wide {
        width: 300px !important;
    }

    .item-img-food {
        width: 300px;
        justify-content: center;
    }

    .menu-item-wide {
        width: 300px !important;
    }
}