.placeholders {
    position: relative;
    display: flex;
    flex-direction: column;
}

.line-placeholder-one {
    position: absolute;
    width: 100%;
    height: 2233px;

    background-image: url(./../../sources/Line2.png);
    background-repeat: no-repeat;
    background-position: left 50% top 350px;
    z-index: 0;
}

