.promo {
    position: relative;
    z-index: 2;
    display: block;
    min-height: 100vh;
    background: rgb(47, 52, 102);
    background: linear-gradient(90deg, rgba(47, 52, 102, 1) 0%, rgba(165, 46, 86, 1) 100%);
    z-index: 100;
    padding-top: 109px;
}

.promo-title {
    padding: 52px 30px;
    text-align: center;
}

.promo-title img{
    max-width: 100%;
    height: auto;
}

.promo-group {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.group-img img {
    max-width: 100%;
    height: auto;
}