.promo {

    padding-top: 179px;
}

.promo-title {
    padding: 52px 30px;
    text-align: center;
}

.promo-title img{
    max-width: 100%;
    height: auto;
}

.promo-group {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.group-img img {
    max-width: 100%;
    height: auto;
}