@import url(./reset.css);

body {
    /* font-family: "Chango", sans-serif; */
    /* font-family: "Abel", sans-serif; */
    font-family: "Inter", sans-serif;
}

.container {

    max-width: 1048px;
    margin: 0 auto;
    padding: 0 30px;

}

.container-wide {

    max-width: 1136px;
    margin: 0 auto;
    /* padding: 0 30px; */
    padding-bottom: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-button {
    display: block;
    z-index: 3;
    border-radius: 11px;
    padding: 9px 36px;
    /* width: 232px;
    height: 64px; */
    background: #2c315e;
    max-width: 440px;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #fff;


}

.main-button:hover{

    background: linear-gradient(90deg, rgba(47,52,102,1) 0%, rgba(165,46,86,1) 100%);
    /* background-color: white; */
    color: #FFF;
}