.nav {
    position: fixed;
    background: rgb(47, 52, 102);
    background: linear-gradient(90deg, rgba(47, 52, 102, 1) 0%, rgba(165, 46, 86, 1) 100%);
    width: 100%;
    left: 0;
    z-index: 1000;
    padding: 21px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.burger-btn {
    display: none;
    background: none;
}

.nav-links {
    width: 652px;
    display: flex;
    justify-content: space-between;
    gap: 15px;


}

.none {
    left: 0 !important;
}

.navigation-trey {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.666);
    color: white;
    z-index: 1001;
    left: 5000px;
    top: 0;
    width: 100%;
    height: 100%;

    transition: all 0.4s ease-in;
}

.nav-links-trey {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 70px;
    font-weight: 400;
    font-size: 25px;
}


@media (max-width: 830px) {
    .nav {
        justify-content: space-between;
    }

    .burger-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }
}



.nav-links li {
    cursor: pointer;
}

.nav-links a {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.active {
    position: relative;
    display: inline-block;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: white;
    transform-origin: center;
}